@media only screen and (max-width: 1280px) {

    .column-two {
        margin: 0 auto;
        width: 400px;
    }

    #map {
        height: 300px;
        margin-top: 10px;
    }

    h3 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 780px) {

    h1 {
        font-size: 32px;
        line-height: 38px;
    }

    h2 {
        font-size: 26px;
        line-height: 32px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }

    #info-map {
        padding-top: 40px;
    }

    #map {
        margin-top: 30px;
    }

    .descript {
        font-size: 20px;
        line-height: 38px;
    }
}

    .column-two {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0 0 20px 0;
    }
}

@media only screen and (max-width: 567px) {

    h1 {
        font-size: 24px;
        line-height: 30px;
    }

    h2 {
        font-size: 22px;
        line-height: 28px;
        padding-top: 15px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    }

    .daily-descript, .detailed-descript {
        font-size: 20px;
        line-height: 38px;
    }

    .container-fullwidth {padding: 0px 30px 40px 30px}

    .container-middle {padding: 20px 30px 40px 30px}

    .column-two {
        padding: 0 0 30px 0;
    }

    #info-map {
        padding-top: 40px;
    }

    .title h1 {
        display: block;
        font-size: 32px;
        line-height: 32px;
        padding-top: 10px;
    }

    .footer-info, .bold-blue {display: none;}

    #analysis {padding-bottom: 80px;}

}

@media only screen and (max-width: 450px) {

    #info-map {
        padding-top: 20px;
    }

    #map {margin-top: 30px;}

    .column-two {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}
