<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <!-- ref=http://www.chartjs.org/docs/latest/getting-started/installation.html-->
    <title> Bar Graph</title>
  </head>
  <body>
      <div class="leftContainer">
          <canvas id="barChart"></canvas>
      </div>
      <div class="rightContainer">
          <canvas id="lineChart"></canvas>
      </div>
      <script>
        var chart = document.getElementById('barChart').getContext('2d');
          
        var barChart = new Chart(chart,{
            
            type: 'bar',
            data: {
                labels:[{% for item in labels %}
                            "{{item}}",
                         {% endfor %}],
                
                datasets: [
                    {
                        label: "Number",
                        backgroundColor: "#3cba9f",
                        data : [{% for item in values %}
                                    {{item}},
                                {% endfor %}]
                    }
                ]
            },
            options: {
                legend: { display: true },
                title: {
                    display: true,
                    text: 'The average'
                }
            }
        });
      </script>
      <script>
        var CHART = document.getElementById('lineChart').getContext('2d');
          
        var lineChart = new Chart(CHART, {
            type: 'line',
            data: {
                labels:[1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
                datasets: [{ 
                    data: [86,114,106,106,107,111,133,221,783,2478],
                    label: "Monday",
                    borderColor: "#3e95cd",
                    fill: false
                  }, { 
                    data: [282,350,411,502,635,809,947,1402,3700,5267],
                    label: "Tuesday",
                    borderColor: "#8e5ea2",
                    fill: false
                  }, { 
                    data: [168,170,178,190,203,276,408,547,675,734],
                    label: "Wednesday",
                    borderColor: "#3cba9f",
                    fill: false
                  }, { 
                    data: [40,20,10,16,24,38,74,167,508,784],
                    label: "Thursday",
                    borderColor: "#e8c3b9",
                    fill: false
                  }, { 
                    data: [6,3,2,2,7,26,82,172,312,433],
                    label: "Friday",
                    borderColor: "#c45850",
                    fill: false
                  }, { 
                    data: [40,20,10,16,24,38,74,150,508,600],
                    label: "Saturday",
                    borderColor: "#e8c",
                    fill: false
                  }, { 
                    data: [6,3,2,2,7,26,70,172,312,800],
                    label: "Sunday",
                    borderColor: "#c45",
                    fill: false
                  }
                ]
              },
            options:{
                title: {
                    display: true,
                    text: 'The average'
                }
            }
        });
</script>
    </body>
</html>